# Ignore all files in the runelite folder
runelite/

# Ignore build output and IDE files
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.log
*.tmp
*.swp
.DS_Store
.vscode/

# Ignore OS-specific files
Thumbs.db
