# Ignore all files in the runelite folder
runelite/

# Ignore build output and IDE files
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.log
*.tmp
*.swp
.DS_Store
.vscode/

# Ignore Maven target directories
**/target/
osrs-helper-agent/target/
osrs-helper-launcher/target/

# Ignore OS-specific files
Thumbs.db

# Ignore launcher output log
osrs-helper-launcher/launcher-output.txt

# Log files
osrs-helper-agent/agent-output
osrs-helper-launcher/launcher-output
osrs-helper-launcher/agent-output
osrs-helper-launcher/osrs-helper-launcher/launcher-output
